@import "variables";

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
  color: $c-white;
}


ul, li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #fff;
}

.container {
  max-width: 1180px;
  width: 100%;
  margin: 0 auto;
}


/* header styles start */

.header {
  background: $c-background-header;

  &-navigation__list {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include _480 {
      padding: 0 5px;
    }

    &_item {
      display: inline-block;
      position: relative;


      &:first-child {
        width: 60%;

        @include _480 {
          width: 30%;
        }
      }

      p {
        display: block;
        padding: 15px 20px;
      }
    }
  }

  &-navigation__submenu {
    display: inline-table;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: $c-background-header;
    z-index: 10;
    transform: scaleY(0);
    transition: .2s all ease-in;

    li:hover {
      background: $c-menu-hover;
    }

    li {
      padding: 10px;
    }

    li a {
      padding: 15px 20px;
      border-bottom: 1px solid $c-menu-hover;

      &:last-of-type {
        border-bottom: none;
      }
    }
  }

  &-navigation__active_item {

    .active_item:after {
      content: '\2193';
      position: absolute;
      right: 1px;
    }

    &:hover {
      background: $c-menu-hover;

      .header-navigation__submenu {
        transform: scaleY(1);
      }
    }
  }

  input {
    display: block;
    outline: none;
    border: none;
    padding: 5px 12px;
    text-align: center;
    color: $c-input-color;
  }
}

/* header styles end */

/* categories styles start */

.categories {
  padding: 20px 0;
  background: $c-main-background;

  @include _480 {
    padding: 10px;
  }

  &-items {
    padding: 20px 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .slick-center img{
    border: 1px solid $c-white;
  }

  .slick-initialized .slick-slide {
    text-align: -webkit-center;
  }

  &-item {
    display: block;
    width: 30%;
    transition: .3s all;

    //&:hover {
    //  transform: scale(1.2);
    //}

    img {
      width: 70%;
      height: auto;
      object-fit: cover;
    }

    &__name {
      padding: 5px;
      padding-bottom: 0;
      font-size: 24px;
      line-height: 26px;
    }

    &__genre {
      padding: 0 0 0 5px;
      font-size: 12px;
    }
  }



  .slick-prev {

    &:after {
      content: '';
      background-image: url('../img/arrowpointingleft_87473.png');
      width: 64px;
      height: 64px;
      display: block;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

/* categories styles end */

/* footer styles start*/

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  background: $c-background-header;

  &-text {
    text-transform: uppercase;
    color: $c-input-color;
  }
}

/* footer styles end*/